.grid
{
    border-spacing: 0px;
    font-family: Arial;
    font-size: 12px;
}
.grid th
{
    background-color: gray;
    color: #ffffff;
    padding: 2px 10px;
}
.grid tr:nth-child(even)
{
    background-color: #f5f5f5;
}
.grid tr:nth-child(odd)
{
    background-color: #ccc;
}
.grid td
{
    padding: 2px 10px;
}